<form id="edit-form" class="form-horizontal">
  <div class="form-group">
    <p class="col-sm-4 control-label"><strong>Residence room:</strong></p>
    <div class="col-sm-5">
      <select multiple class="form-control" id="room-select" name="RoomId">
        {{#each items}}
          <option {{#if selected}}selected{{/if}} value={{Id}}>{{Ward}}</option>
        {{/each}}
      </select>
    </div>
  </div>
    <div class="form-group">
      <label for="start-date" class="col-sm-4 control-label">Start residence date:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="start-date" name="StartResidenceDate" value="{{StartResidenceDate}}">
      </div>
    </div>
    <div class="form-group">
      <label for="finish-date" class="col-sm-4 control-label">Finish residence date:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="finish-date" name="FinishResidenceDate" value="{{FinishResidenceDate}}">
      </div>
    </div>
</form>